<h1>CreativeHub!</h1>

<h2>CreativeHub ____!</h2>

<ul>
  {{#each users}}
    {{#if post}}
      {{ art-block post=true}}
    {{/if}}
  {{/each}}
</ul>

<h2>Users Posts!</h2>

<ul>
  {{#each users}}
    {{#if post}}
      {{ art-block sleep=false }}
    {{/if}}
  {{/each}}
</ul>

<h2>Add Post</h2>
<form class="create-form">

  <div class="form-group">
    <label for="post">Post Name:</label>
    <input type="text" id="post" name="name">
  </div>

  <button type="submit">Add Submit</button>
</form>
