h1{
    text-align: center;
    font-size: 90px;
    font-family: 'Muli', sans-serif;
}

#slogan{
    color: #c3c3c3;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: left;
    margin-top: 37px;
    margin-bottom: 15px;
    letter-spacing: 0;
}
.menu_block{
    display: block;
    position: relative;
    text-transform: uppercase;
    font-family: 'Muli', sans-serif;
    margin-left: 5%;
    color: rgb(112, 7, 7);
}

#search{
    color:  rgb(112, 7, 7);;
    border-color: rgb(112, 7, 7);
    box-shadow: rgb(112, 7, 7);
}

.form-inline {
    display: flex;
    margin-left: 345px;
    position: absolute;
    left: 45%;
    top: 25%;
}

a{
    color: rgb(112, 7, 7);
    padding: 0px, 8px ;
}

a:hover {
    color:rgb(112, 7, 7);
}

#footer{
    text-align: center;
    background-color: #c3c3c3;
}


body{
    background-image: url(../photos/images/main.jpg);
    background-size: 100%;
}

nav{
    overflow: hidden;
 }
