h1{
    text-align: center;
    color:red;
}

.form-group{
    margin: 2%;
}

#register{
    width: 20%;
    margin-left: 40%;   
    margin-right: 40%
}

#footer{
    position: absolute;
    color:black;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}