h1{
    text-align: center;
    color: rgb(112, 7, 7);
    font-size-adjust: initial;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.form-group{
    margin-left: 10%;
    margin-right: 10%;
    color: rgb(112, 7, 7);
}
#register{
    width: 20%;
    margin-left: 40%;   
    margin-right: 40%;
    color: rgb(112, 7, 7);
    border-color:rgb(112, 7, 7);  
}

#image-logo{
    width: 15%;
    margin-left: 5%;
}

#slogan{
    color: #c3c3c3;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: left;
    margin-top: 37px;
    margin-bottom: 15px;
    letter-spacing: 0;
}
.menu_block{
    display: block;
    position: relative;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 5%;
    color: rgb(112, 7, 7);
}

#search{
    color:  rgb(112, 7, 7);;
    border-color: rgb(112, 7, 7);
    box-shadow: rgb(112, 7, 7);
}

.form-inline {
    display: flex;
    margin-left: 345px;
}

body{
    background-image: url(../photos/images/main.jpg);
    background-size: 100%;
}

.container-middle{
    margin: 87px 0 137px;
    display: inline-block;
    width: 100%;
    background: white;
    box-sizing: border-box;
    padding: 2%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=20);
    opacity: 0.7;
}


.login-content-right{
    float: right;
    
}

h2{
    font-weight: 400;
    font-size: 32px;
    margin: 80px 90px 80px;
    text-transform: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:  rgb(112, 7, 7);
    padding-top: 24px;
}

.login-content-left{
    float: left;
}

#footer{
 text-align: center;
 background-color: #c3c3c3;
}

a{
    color: rgb(112, 7, 7);
    padding: 0px, 8px ;
}

a:hover {
    color:rgb(112, 7, 7);
  }

 p{
    font-size: 22px;
    color: rgb(112, 7, 7);
 }

 li{
    color: rgb(112, 7, 7);
 }

