<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/Project2/public/styles/style.css" type="text/css" />
    <title>CreativeHub!</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/Project2/public/js/script.js"></script>
    <script src="handlebars-v2.0.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>
</head>

<body>
    {{{ body }}}
</body>

</html>